.body {
    background-image: url(../images/moon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.headingContainer {
    display: flex;
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.heading {
    width: 10.5%;
    text-align: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(21,21,203,1) 42%, rgba(0,212,255,1) 95%);
    border-radius:30px;
    color: lightgray;
    border: thick double white;
}

html, body{
    margin:0;
}
canvas{
    display: block;
}